<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link rel="icon" href="https://spring.io/favicon-32x32.png?v=96334d577af708644f6f0495dd1c7bc8" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<!-- Navbar -->
<header>
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" th:text="${authUser.username}"/>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-inline-block">
                    <a class="nav-link active d-inline-block" aria-current="page">with roles</a>
                    <a class="nav-link active d-inline-block" aria-current="page"
                       th:each="role : *{authUser.authorities}"
                       th:text="${role.authority} + '&nbsp'"/>
                </li>
            </ul>
            <form class="d-flex">
                <a class="nav-link text-white-50" href="/logout">Logout</a>
            </form>
        </div>
    </nav>
</header>

<!-- Body -->
<div class="row bg-light text-dark">

    <!-- Left block - List group -->
    <div class="col-md-2 bg-white" role="tabpanel"><br>
        <div class="list-group list-group-flush">
            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active border border-0" data-bs-toggle="list"
                   href="#admin_content"
                   role="tab">
                    Admin
                </a>
                <a class="list-group-item list-group-item-action border border-0" data-bs-toggle="list"
                   href="#user_content" role="tab">
                    User
                </a>
            </div>
        </div>
    </div>

    <!-- Right block -->
    <div class="col-md-10 bg-light text-dark">

        <!-- Right block - Content -->
        <div class="tab-content">

            <!-- Admin content -->
            <div class="tab-pane active" id="admin_content" role="tabpanel">
                <h2>Admin panel</h2>
                <div class="container-fluid">

                    <!-- Nav-tab "Users table" / "New user" -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="users_table-tab" data-bs-toggle="tab"
                                    data-bs-target="#users_table-tab-pane" type="button" role="tab"
                                    aria-controls="users_table-tab-pane" aria-selected="true">
                                Users table
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="new_user-tab" data-bs-toggle="tab"
                                    data-bs-target="#new_user-tab-pane" type="button" role="tab"
                                    aria-controls="new_user-tab-pane" aria-selected="false">
                                New user
                            </button>
                        </li>
                    </ul>

                    <!-- Nav-tab content -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="users_table-tab-pane" role="tabpanel"
                             aria-labelledby="home-tab" tabindex="0">
                            <div class="container-fluid border">
                                <h5>All users</h5>

                                <!-- Users table -->
                                <table id="users_table_full" class="table table-striped bg-white border">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First name</th>
                                        <th scope="col">Last name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Roles</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="users_tbody">

                                    <!-- Edit modal -->
                                    <div class="modal fade" id="editModal" tabindex="-1"
                                         aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <form id="editUserForm">
                                                        <div class="mb-3">
                                                            <label for="editedUserId"
                                                                   class="form-label container-fluid">
                                                                <strong>ID</strong>
                                                                <input type="number"
                                                                       class="form-control"
                                                                       id="editedUserId"
                                                                       name="id"
                                                                       disabled>
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="editedUserName"
                                                                   class="form-label container-fluid">
                                                                <strong>Name</strong>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="editedUserName"
                                                                       name="name">
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="editedUserLastName"
                                                                   class="form-label container-fluid">
                                                                <strong>Last name</strong>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="editedUserLastName"
                                                                       name="lastName">
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="editedUserAge"
                                                                   class="form-label container-fluid">
                                                                <strong>Age</strong>
                                                                <input type="number"
                                                                       class="form-control"
                                                                       id="editedUserAge"
                                                                       name="age">
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="editedUserEmail"
                                                                   class="form-label container-fluid">
                                                                <strong>E-mail</strong>
                                                                <input type="email"
                                                                       class="form-control"
                                                                       id="editedUserEmail"
                                                                       name="username">
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="editedUserPassword"
                                                                   class="form-label container-fluid">
                                                                <strong>Password</strong>
                                                                <input type="password"
                                                                       class="form-control"
                                                                       id="editedUserPassword"
                                                                       name="password">
                                                            </label>
                                                        </div>
                                                        <label class="form-label container-fluid"
                                                               for="editedUserRoles">
                                                            <strong>Roles</strong>
                                                            <select class="form-select" multiple
                                                                    aria-label="multiple select example"
                                                                    name="roles" id="editedUserRoles">
                                                            </select>
                                                        </label>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary"
                                                                    id="editSubmitButton">
                                                                Edit
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Delete modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete user</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <form id="deleteUserForm">
                                                        <div class="mb-3">
                                                            <label for="deletedUserId"
                                                                   class="form-label container-fluid">
                                                                <strong>ID</strong>
                                                                <input type="number"
                                                                       class="form-control"
                                                                       id="deletedUserId"
                                                                       name="id"
                                                                       disabled>
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="deletedUserName"
                                                                   class="form-label container-fluid">
                                                                <strong>Name</strong>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="deletedUserName"
                                                                       name="name"
                                                                       disabled>
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="deletedUserLastName"
                                                                   class="form-label container-fluid">
                                                                <strong>Last name</strong>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="deletedUserLastName"
                                                                       name="lastName"
                                                                       disabled>
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="deletedUserAge"
                                                                   class="form-label container-fluid">
                                                                <strong>Age</strong>
                                                                <input type="number"
                                                                       class="form-control"
                                                                       id="deletedUserAge"
                                                                       name="age"
                                                                       disabled>
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="deletedUserEmail"
                                                                   class="form-label container-fluid">
                                                                <strong>E-mail</strong>
                                                                <input type="email"
                                                                       class="form-control"
                                                                       id="deletedUserEmail"
                                                                       name="username"
                                                                       disabled>
                                                            </label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="deletedUserPassword"
                                                                   class="form-label container-fluid">
                                                                <strong>Password</strong>
                                                                <input type="password"
                                                                       class="form-control"
                                                                       id="deletedUserPassword"
                                                                       name="password"
                                                                       disabled>
                                                            </label>
                                                        </div>
                                                        <label class="form-label container-fluid"
                                                               for="deletedUserRoles">
                                                            <strong>Roles</strong>
                                                            <select class="form-select" multiple
                                                                    aria-label="multiple select example"
                                                                    name="roles" id="deletedUserRoles">
                                                                <option th:each="role : ${allRoles}"
                                                                        th:value="${role.id}"
                                                                        th:text="${role.authority}"
                                                                        th:selected="${userFromTable.authorities.contains(role)}"/>
                                                            </select>
                                                        </label>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-danger"
                                                                    id="deleteSubmitButton">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Add new user -->
                        <div class="tab-pane fade" id="new_user-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                             tabindex="0">
                            <div class="container-fluid border">
                                <h5>Add new user</h5>
                                <div class="container-fluid bg-white border">
                                    <div class="col-4 offset-md-4 text-center">
                                        <form id="newUser">
                                            <div class="mb-3">
                                                <label for="newUserName" class="form-label container-fluid">
                                                    <strong>First name</strong>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="newUserName"
                                                           name="name">
                                                </label>
                                            </div>
                                            <div class="mb-3">
                                                <label for="newUserLastName"
                                                       class="form-label container-fluid">
                                                    <strong>Last name</strong>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="newUserLastName"
                                                           name="lastName">
                                                </label>
                                            </div>
                                            <div class="mb-3">
                                                <label for="newUserAge"
                                                       class="form-label container-fluid">
                                                    <strong>Age</strong>
                                                    <input type="number"
                                                           class="form-control"
                                                           id="newUserAge"
                                                           name="age">
                                                </label>
                                            </div>
                                            <div class="mb-3">
                                                <label for="newUserEmail"
                                                       class="form-label container-fluid">
                                                    <strong>E-mail</strong>
                                                    <input type="email"
                                                           class="form-control"
                                                           id="newUserEmail"
                                                           name="username">
                                                </label>
                                            </div>
                                            <div class="mb-3">
                                                <label for="newUserPassword"
                                                       class="form-label container-fluid">
                                                    <strong>Password</strong>
                                                    <input type="password"
                                                           class="form-control"
                                                           id="newUserPassword"
                                                           name="password">
                                                </label>
                                            </div>
                                            <label class="form-label container-fluid"
                                                   for="newUserRoles">
                                                <strong>Roles</strong>
                                                <select class="form-select" multiple
                                                        aria-label="multiple select example"
                                                        name="roles" id="newUserRoles">
                                                </select>
                                            </label>
                                            <button type="submit" class="btn btn-success">
                                                Add new user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- User content -->
            <div class="tab-pane" id="user_content" role="tabpanel">
                <h2>User information-page</h2>
                <div class="container-fluid border">
                    <h5>About user</h5>

                    <!-- User table -->
                    <table class="table table-striped bg-white border">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${authUser.id}"/>
                            <td th:text="${authUser.name}"/>
                            <td th:text="${authUser.lastName}"/>
                            <td th:text="${authUser.age}"/>
                            <td th:text="${authUser.username}"/>
                            <td>
                                <span th:each="role: ${authUser.authorities}" th:text="${role.authority} + '&nbsp'"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script src="/table_body.js"></script>
<script src="/edit_modal_form.js"></script>
<script src="/delete_modal_form.js"></script>
<script src="/put_request_for_edit_user.js"></script>
<script src="/delete_request_for_delete_user.js"></script>
<script src="/post_request_for_add_user.js"></script>
<script src="/ajax_update_table_body.js"></script>
<script src="/new_user_roles.js"></script>

</body>
</html>